body {
height: 100%;
}


.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.driving.co.uk/s3/st-driving-prod/uploads/2018/06/RR-Velar-01.jpg");
height: 50%;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}
.container1{
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.btn {

  border-radius: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 210px;
}

.btn:hover {
  background-color: blue;
  color: white;
}
.text-center{
  text-align: center;
}
.cards{
  display: flex;
 box-shadow: 0px 0px 5px #888888;
}
cards:hover {
  background-color: rgb(145, 145, 132);
}
.card img{
  height: 350px;
  margin: 15px;
  padding-left: 20px;

}
.card h4, p {
  padding-left: 40px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
text-align: center;
 font-style: italic;

}

.footer{
  margin-top: 15px;
  text-align: center;
  border:solid;
  background-color: black;
   box-shadow: 0px 0px 5px #888888;
}

cards:hover {
  background-color: rgb(145, 145, 132);
}

.footer p {
  color: gray;
}
.links a{
   color:greenyellow;
   font-size: 30px;
}
