.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
width:620px;
}
.btn {
  display:flex;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  justify-content: center;
   align-items: center;
   align-content: space-between;
    flex-wrap: nowrap;
    background-color: gray;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 16px;
}

.btn:hover {
  background-color: rgb(223, 20, 37); /* Green */
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn1{
 display:flex;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  justify-content: center;
   align-items: center;
   align-content: space-between;
    flex-wrap: nowrap;
    background-color: transparent;
    color: black;
   width: 200px;
    height: 40px;
    border-radius: 4px;
}
.btn1:hover {
  background-color: rgb(145, 255, 231); /* Green */
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn2{
    display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
   width: 180px;
    height: 40px;
    bottom: 40px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 1px;
}

.btn2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn2:hover span {
  padding-right: 25px;
}

.btn2:hover span:after {
  opacity: 1;
  right: 0;
}
